.App {
  text-align: center;
  background: #EDEADE;
  padding: 30px;
  border: 2px;
}

.button-todo {
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: #181818;
  border-radius: 5px;
}

.button-todo:hover {
  color: black;
  background-color: greenyellow;
  border-radius: 5px;
  
}

.button-delete {
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: #181818;
  border-radius: 5px;
}

.button-delete:hover {
  color: white;
  background-color: red;
  border-radius: 5px;
}

.button-edit {
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: #181818;
  border-radius: 5px;
} 

.button-edit:hover {
  color: black;
  background-color: yellow;
  border-radius: 5px;
}

.spacing {
  padding: 5px;
  margin: 5px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-div {
  min-height: 100vh;
  background: #060822;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
